% include("header", title="Admin")

    <main>
        <a href="/logout" class="logout">Logout</a>
        <h1>ADMININISTRATOR</h1>

        % if tweets == []:
            <div>No tweets</div>
        % end 

        <div id="tweets">
            % for tweet in tweets:
            <div id="{{tweet['id']}}" class="tweet">
                    <div>{{tweet["tweet_time"]}}</div>
                    <div>{{tweet["text"]}}</div>
                    
                    % if 'image' in tweet:
                    <img src="/images/image2.png" alt="tweet_image">
                    % end
                    <div>
                        <button onclick="tweet_delete(`{{tweet['id']}}`)">DELETE</button>
                    </div>
            </div>
            % end
        </div>

        <section>
            <h2>Users</h2>
            % if users == []: 
            <div>
                No users
            </div>
            % end
            <div id="users">
                % for user in users:
                <div class="user">
                    <form action="/show-user">
                        <div>ID: {{user["id"]}}</div>
                        <div>Username: {{user["username"]}}</div>
                        <div>Name: {{user["name"]}}</div>
                        <div>Last Name: {{user["last_name"]}}</div>
                        <div>Email: {{user["email"]}}</div>
                        <div>Password: {{user["password"]}}</div>
                    </form>
                </div>
                % end
            </div>
            <h2>Sessions</h2>
            % if users == []: 
            <div>
                No users
            </div>
            % end
            <div id="sessions">
                % for session in sessions:
                <div class="user">
                    <!-- if i want to delete -->
                    <form action="/show-user">
                        <div>ID: {{session["session_id"]}}</div>
                        <div>Username: {{session["username"]}}</div>
                        <div>Time Created: {{session["iat"]}}</div>
                    </form>
                    
                </div>
                % end
            </div>

        </section>
    </main>

% include("footer")