% include("header", title="Tweet")

<section class="update_modal hide">
    <div class="modalBackground"></div>
    <div class="updateText">
        <div id="close_modal">Close</div>
        <form onsubmit="validate(updateTweet); return false">
            <div id="div_tweet_id" class="hidden">
                <input type="text" name="tweet_id">
            </div>
            <input type="text" name="tweet_text_update" id="tweet_text_update"><br>
            <button>Update</button>
        </form> 
    </div>
</section>
    <main>
        <a href="/logout" class="logout">Logout</a>
        <h1>My Tweets</h1>

        <div class="tweet_form">
            <form onsubmit="validate(sendTweet); return false">
                <input name="tweet_text" type="text" placeholder="What's happening?"><br>
                <label>Upload Image</label>
                <input name="tweet_image" type="file" accept="image" placeholder="upload image"><br>
                <button type="submit">Tweet</button>
            </form>
        </div>


        <div id="tweets">
            % for tweet in tweets:
            % if not tweet['image']:
            <div id="{{tweet['id']}}" class="tweet">
                <div>{{tweet["username"]}}</div>
                <div>{{tweet["tweet_time"]}}</div>
                <div>{{tweet["text"]}}</div>
                
                    <div>
                        <button onclick="tweet_delete(`{{tweet['id']}}`)">DELETE</button>
                        <button onclick="tweet_update(`{{tweet['id']}}`, `{{tweet['text']}}`)">UPDATE</button>
                    </div>
            </div>
            % else:
            <div id="{{tweet['id']}}" class="tweet">
                <div>{{tweet["username"]}}</div>
                <div>{{tweet["tweet_time"]}}</div>
                <div>{{tweet["text"]}}</div>
                
                % if 'image' in tweet:
                <img src="/images/{{tweet['image']}}" alt="tweet_image"/>
                % end
                    <div>
                        <button onclick="tweet_delete(`{{tweet['id']}}`)">DELETE</button>
                        <button onclick="tweet_update(`{{tweet['id']}}`, `{{tweet['text']}}`, `/images/{{tweet['image']}}`)">UPDATE</button>
                    </div>
            </div>
            % end
            % end
        </div>
    </main>

% include("footer")
