% include("header", title="Tweet")

    <main>
        <section id="update_modal">
            <div class="updateText">
                <div id="close_modal">Close</div>
                <form onsubmit="validate(updateTweet); return false">
                    <input type="text" name="tweet_id" class="hidden">
                    <input type="text" name="tweet_text_update" id="tweet_text_update">
                    <button>Update</button>
                </form> 
            </div>
        </section>

        <a href="/logout" class="logout">Logout</a>
        <h1>My Tweets</h1>

        <div class="tweet_form">
            <form onsubmit="validate(sendTweet); return false">
                <input name="tweet_text" type="text" placeholder="What's happening?"><br>
                <label>Upload Image</label>
                <input name="tweet_image" type="file" accept="image" placeholder="upload image"><br>
                <button type="submit">Tweet</button>
            </form>
        </div>

        % if tweets == []:
            <div>No tweets</div>
        % end 

        <div id="tweets">
            % for tweet in tweets:
            <div id="{{tweet['id']}}" class="tweet">
                    <div>{{tweet["tweet_time"]}}</div>
                    <div>{{tweet["text"]}}</div>
                    
                    % if 'image' in tweet:
                    <img src="/images/image2.png" alt="tweet_image">
                    % end
                    <div>
                        <button onclick="tweet_delete(`{{tweet['id']}}`)">DELETE</button>
                    </div>
            </div>
            % end
        </div>
    </main>

% include("footer")
