% include("header", title="Users")

<main>
    <label><input type="text" id="searchBar" placeholder="search"></label>
    <h1>USERS</h1>
    
    <div>
        % for user in users:
        <div id="{{user['id']}}">
            <div>@{{user["username"]}}</div>
            <div id="tweets">
                % for tweet in tweets:
                % if tweet["username"] == user["username"]:
                % if not tweet['image']:
                <div id="{{tweet['id']}}" class="tweet">
                    <div>{{tweet["username"]}}</div>
                    <div>{{tweet["tweet_time"]}}</div>
                    <div>{{tweet["text"]}}</div>
                    <div class="show">
                        <img src="/svg/heart-solid.svg" alt="like"/>
                    </div>
                    <div>
                        <!-- % if tweet['like'] == "true":  -->
                        <!-- <button onclick="tweet_like(`{{tweet['id']}}`)">Like</button> -->
                        <!-- % else: -->
                        <!-- <button onclick="tweet_like(`{{tweet['id']}}`)">Unlike</button> -->
                        <!-- % end -->
                    </div>
                </div>
                % else:
                <div id="{{tweet['id']}}" class="tweet">
                    <div>{{tweet["username"]}}</div>
                    <div>{{tweet["tweet_time"]}}</div>
                    <div>{{tweet["text"]}}</div>
                    
                    % if 'image' in tweet:
                    <img src="/images/{{tweet['image']}}" alt="tweet_image"/>
                    % end

                    <div class="show">
                        <img src="/svg/heart-solid.svg" alt="like"/>
                    </div>
                    <div>
                        <!-- % if tweet['like'] == "true":  -->
                        <!-- <button onclick="tweet_like(`{{tweet['id']}}`)">Like</button> -->
                        <!-- % else: -->
                        <!-- <button onclick="tweet_like(`{{tweet['id']}}`)">Unlike</button> -->
                        <!-- % end -->
                    </div>
                </div>
                % end
                % end
                % end
            </div>
        </div>
        % end
    </div>
        
</main>

% include("footer")