% include("header", title="Users")

<main>
    <label><input type="text" id="searchBar" placeholder="search"></label>
    <h1>USERS</h1>
    
    <div>
        % for user in users:
        <div id="{{user['id']}}">
            <div>@{{user["username"]}}</div>
            <div id="tweets">
                % for tweet in tweets:
                <div id="{{tweet['id']}}" class="tweet">
                        <div>{{tweet["tweet_time"]}}</div>
                        <div>{{tweet["text"]}}</div>
                        
                        % if 'image' in tweet:
                        <img src="/images/image2.png" alt="tweet_image">
                        % end
                </div>
                % end
            </div>
        </div>
        % end
    </div>
        
</main>

% include("footer")